@media screen and (prefers-color-scheme: light) {
  :root {
    --text-0: #000000ff;
    --text-1: #191919ff;
    --text-2: #252323ff;

    --background-0: #e0e0e0ff;
    --background-1: #f5f1edff;
    --background-2: #eadedaff;

    --primary-0: #393e41ff;
    --primary-1: #70798cff;
    --primary-2: #828e82ff;

    --secondary-0: #a99985ff;
    --secondary-1: #efc88bff;
    --secondary-2: #dad2bcff;

    --accent-0: #cf5c36ff;
    --accent-1: #d5896fff;
    --accent-2: #e4ad9bff;
  }
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --text-0: #e0e0e0ff;
    --text-1: #f5f1edff;
    --text-2: #eadedaff;

    --background-0: #000000ff;
    --background-1: #191919ff;
    --background-2: #252323ff;

    --primary-0: #393e41ff;
    --primary-1: #70798cff;
    --primary-2: #828e82ff;

    --secondary-0: #a99985ff;
    --secondary-1: #efc88bff;
    --secondary-2: #dad2bcff;

    --accent-0: #cf5c36ff;
    --accent-1: #d5896fff;
    --accent-2: #e4ad9bff;
  }
}
