@media screen and (prefers-color-scheme: dark) {
  :root {
    --text: #d6d6d6ff;
    --background: #1f2421ff;
    --primary: #bbb891ff;
    --secondary: #757083ff;
    --accent: #8c6057ff;
  }
}

@media screen and (prefers-color-scheme: light) {
  :root {
    --text: #1f2421ff;
    --background: #d6d6d6ff;
    --primary: #757083ff;
    --secondary: #bbb891ff;
    --accent: #8c6057ff;
  }
}
