.background-container {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100vw;
  min-height: 100dvh;
  z-index: -2;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-y: hidden;
}
