.background-container {
  position: absolute;
  top: 35dvh;
  left: 50dvw;
  transform: translate(-50%, -50%);
  max-width: 100dvw;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #fefefe;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: blur(6px);
  opacity: 0.5;
}
